:root {
  --color-1: #19a677;
  --color-2: #0eeda3;
  --color-3: #4c596b;
}

* {
  box-sizing: border-box;
  borde: 1px solid black;
}

body {
  margin: 0;
  font-size: 25px;
  background-color: #2E314C;
  color: linen;
}

h1, p {
  text-align: center;
  font-weight: bold;
}

h1 {
  width: 500px;
  margin: 50px auto;
}

#converter {
  font-family: helvetica, sans-serif;
}

#converter div {
  background-color: var(--color-3);
  width: 500px;
  height: 250px;
  margin: 100px auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 3px solid white;
}

#number {
  color: linen;
  border: 2px solid var(--color-1);
  width: 80%;
  height: 50px;
  font-size: 30px;
  text-align: center;
  background-color: #2E314C;
}

button {
  width: 80%;
  height: 50px;
  font-size: 20px;
  border: 2px solid var(--color-1);
  background: linear-gradient(var(--color-2), var(--color-1));
  cursor: pointer;
}

.result-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: var(--color-3);
  width: 500px;
  margin: 50px auto;
  border: 3px solid white;
  font-size: 30px;
}

.hidden {
  display: none;
}

.error {
  color: #a30b03;
  background: #ed6861;
  border-color: #a30b03;
}

@media (max-width: 550px) {
  #converter div, #result div, h1 {
    width: 90%;
  }
}